.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}