.m-1,
.my-1,
.mt-1 {
  margin-top: .25rem;
}

.m-1,
.mx-1,
.mr-1 {
  margin-right: .25rem;
}

.m-1,
.my-1,
.mb-1 {
  margin-bottom: .25rem;
}

.m-1,
.mx-1,
.ml-1 {
  margin-left: .25rem;
}

.m-2,
.my-2,
.mt-2 {
  margin-top: .5rem;
}

.m-2,
.mx-2,
.mr-2 {
  margin-right: .5rem;
}

.m-2,
.my-2,
.mb-2 {
  margin-bottom: .5rem;
}

.m-2,
.mx-2,
.ml-2 {
  margin-left: .5rem;
}


.m-3,
.my-3,
.mt-3 {
  margin-top: 1rem;
}

.m-3,
.mx-3,
.mr-3 {
  margin-right: 1rem;
}

.m-3,
.my-3,
.mb-3 {
  margin-bottom: 1rem;
}

.m-3,
.mx-3,
.ml-3 {
  margin-left: 1rem;
}

.m-4,
.my-4,
.mt-4 {
  margin-top: 1.5rem;
}

.m-4,
.mx-4,
.mr-4 {
  margin-right: 1.5rem;
}

.m-4,
.my-4,
.mb-4 {
  margin-bottom: 1.5rem;
}

.m-4,
.mx-4,
.ml-4 {
  margin-left: 1.5rem;
}

.m-5,
.my-5,
.mt-5 {
  margin-top: 3rem;
}

.m-5,
.mx-5,
.mr-5 {
  margin-right: 3rem;
}

.m-5,
.my-5,
.mb-5 {
  margin-bottom: 3rem;
}

.m-5,
.mx-5,
.ml-5 {
  margin-left: 3rem;
}

.m-6,
.my-6,
.mt-6 {
  margin-top: 6rem;
}

.m-6,
.mx-6,
.mr-6 {
  margin-right: 6rem;
}

.m-6,
.my-6,
.mb-6 {
  margin-bottom: 6rem;
}

.m-6,
.mx-6,
.ml-6 {
  margin-left: 6rem;
}

@media screen and (max-width: 1200px) {

  .m-xl-1,
  .my-xl-1,
  .mt-xl-1 {
    margin-top: .25rem;
  }

  .m-xl-1,
  .mx-xl-1,
  .mr-xl-1 {
    margin-right: .25rem;
  }

  .m-xl-1,
  .my-xl-1,
  .mb-xl-1 {
    margin-bottom: .25rem;
  }

  .m-xl-1,
  .mx-xl-1,
  .ml-xl-1 {
    margin-left: .25rem;
  }

  .m-xl-2,
  .my-xl-2,
  .mt-xl-2 {
    margin-top: .5rem;
  }

  .m-xl-2,
  .mx-xl-2,
  .mr-xl-2 {
    margin-right: .5rem;
  }

  .m-xl-2,
  .my-xl-2,
  .mb-xl-2 {
    margin-bottom: .5rem;
  }

  .m-xl-2,
  .mx-xl-2,
  .ml-xl-2 {
    margin-left: .5rem;
  }

  .m-xl-3,
  .my-xl-3,
  .mt-xl-3 {
    margin-top: 1rem;
  }

  .m-xl-3,
  .mx-xl-3,
  .mr-xl-3 {
    margin-right: 1rem;
  }

  .m-xl-3,
  .my-xl-3,
  .mb-xl-3 {
    margin-bottom: 1rem;
  }

  .m-xl-3,
  .mx-xl-3,
  .ml-xl-3 {
    margin-left: 1rem;
  }

  .m-xl-4,
  .my-xl-4,
  .mt-xl-4 {
    margin-top: 1.5rem;
  }

  .m-xl-4,
  .mx-xl-4,
  .mr-xl-4 {
    margin-right: 1.5rem;
  }

  .m-xl-4,
  .my-xl-4,
  .mb-xl-4 {
    margin-bottom: 1.5rem;
  }

  .m-xl-4,
  .mx-xl-4,
  .ml-xl-4 {
    margin-left: 1.5rem;
  }

  .m-xl-5,
  .my-xl-5,
  .mt-xl-5 {
    margin-top: 3rem;
  }

  .m-xl-5,
  .mx-xl-5,
  .mr-xl-5 {
    margin-right: 3rem;
  }

  .m-xl-5,
  .my-xl-5,
  .mb-xl-5 {
    margin-bottom: 3rem;
  }

  .m-xl-5,
  .mx-xl-5,
  .ml-xl-5 {
    margin-left: 3rem;
  }

  .m-xl-6,
  .my-xl-6,
  .mt-xl-6 {
    margin-top: 6rem;
  }

  .m-xl-6,
  .mx-xl-6,
  .mr-xl-6 {
    margin-right: 6rem;
  }

  .m-xl-6,
  .my-xl-6,
  .mb-xl-6 {
    margin-bottom: 6rem;
  }

  .m-xl-6,
  .mx-xl-6,
  .ml-xl-6 {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 992px) {

  .m-lg-1,
  .my-lg-1,
  .mt-lg-1 {
    margin-top: .25rem;
  }

  .m-lg-1,
  .mx-lg-1,
  .mr-lg-1 {
    margin-right: .25rem;
  }

  .m-lg-1,
  .my-lg-1,
  .mb-lg-1 {
    margin-bottom: .25rem;
  }

  .m-lg-1,
  .mx-lg-1,
  .ml-lg-1 {
    margin-left: .25rem;
  }

  .m-lg-2,
  .my-lg-2,
  .mt-lg-2 {
    margin-top: .5rem;
  }

  .m-lg-2,
  .mx-lg-2,
  .mr-lg-2 {
    margin-right: .5rem;
  }

  .m-lg-2,
  .my-lg-2,
  .mb-lg-2 {
    margin-bottom: .5rem;
  }

  .m-lg-2,
  .mx-lg-2,
  .ml-lg-2 {
    margin-left: .5rem;
  }

  .m-lg-3,
  .my-lg-3,
  .mt-lg-3 {
    margin-top: 1rem;
  }

  .m-lg-3,
  .mx-lg-3,
  .mr-lg-3 {
    margin-right: 1rem;
  }

  .m-lg-3,
  .my-lg-3,
  .mb-lg-3 {
    margin-bottom: 1rem;
  }

  .m-lg-3,
  .mx-lg-3,
  .ml-lg-3 {
    margin-left: 1rem;
  }

  .m-lg-4,
  .my-lg-4,
  .mt-lg-4 {
    margin-top: 1.5rem;
  }

  .m-lg-4,
  .mx-lg-4,
  .mr-lg-4 {
    margin-right: 1.5rem;
  }

  .m-lg-4,
  .my-lg-4,
  .mb-lg-4 {
    margin-bottom: 1.5rem;
  }

  .m-lg-4,
  .mx-lg-4,
  .ml-lg-4 {
    margin-left: 1.5rem;
  }

  .m-lg-5,
  .my-lg-5,
  .mt-lg-5 {
    margin-top: 3rem;
  }

  .m-lg-5,
  .mx-lg-5,
  .mr-lg-5 {
    margin-right: 3rem;
  }

  .m-lg-5,
  .my-lg-5,
  .mb-lg-5 {
    margin-bottom: 3rem;
  }

  .m-lg-5,
  .mx-lg-5,
  .ml-lg-5 {
    margin-left: 3rem;
  }

  .m-lg-6,
  .my-lg-6,
  .mt-lg-6 {
    margin-top: 6rem;
  }

  .m-lg-6,
  .mx-lg-6,
  .mr-lg-6 {
    margin-right: 6rem;
  }

  .m-lg-6,
  .my-lg-6,
  .mb-lg-6 {
    margin-bottom: 6rem;
  }

  .m-lg-6,
  .mx-lg-6,
  .ml-lg-6 {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 768px) {

  .m-md-1,
  .my-md-1,
  .mt-md-1 {
    margin-top: .25rem;
  }

  .m-md-1,
  .mx-md-1,
  .mr-md-1 {
    margin-right: .25rem;
  }

  .m-md-1,
  .my-md-1,
  .mb-md-1 {
    margin-bottom: .25rem;
  }

  .m-md-1,
  .mx-md-1,
  .ml-md-1 {
    margin-left: .25rem;
  }

  .m-md-2,
  .my-md-2,
  .mt-md-2 {
    margin-top: .5rem;
  }

  .m-md-2,
  .mx-md-2,
  .mr-md-2 {
    margin-right: .5rem;
  }

  .m-md-2,
  .my-md-2,
  .mb-md-2 {
    margin-bottom: .5rem;
  }

  .m-md-2,
  .mx-md-2,
  .ml-md-2 {
    margin-left: .5rem;
  }

  .m-md-3,
  .my-md-3,
  .mt-md-3 {
    margin-top: 1rem;
  }

  .m-md-3,
  .mx-md-3,
  .mr-md-3 {
    margin-right: 1rem;
  }

  .m-md-3,
  .my-md-3,
  .mb-md-3 {
    margin-bottom: 1rem;
  }

  .m-md-3,
  .mx-md-3,
  .ml-md-3 {
    margin-left: 1rem;
  }

  .m-md-4,
  .my-md-4,
  .mt-md-4 {
    margin-top: 1.5rem;
  }

  .m-md-4,
  .mx-md-4,
  .mr-md-4 {
    margin-right: 1.5rem;
  }

  .m-md-4,
  .my-md-4,
  .mb-md-4 {
    margin-bottom: 1.5rem;
  }

  .m-md-4,
  .mx-md-4,
  .ml-md-4 {
    margin-left: 1.5rem;
  }

  .m-md-5,
  .my-md-5,
  .mt-md-5 {
    margin-top: 3rem;
  }

  .m-md-5,
  .mx-md-5,
  .mr-md-5 {
    margin-right: 3rem;
  }

  .m-md-5,
  .my-md-5,
  .mb-md-5 {
    margin-bottom: 3rem;
  }

  .m-md-5,
  .mx-md-5,
  .ml-md-5 {
    margin-left: 3rem;
  }

  .m-md-6,
  .my-md-6,
  .mt-md-6 {
    margin-top: 6rem;
  }

  .m-md-6,
  .mx-md-6,
  .mr-md-6 {
    margin-right: 6rem;
  }

  .m-md-6,
  .my-md-6,
  .mb-md-6 {
    margin-bottom: 6rem;
  }

  .m-md-6,
  .mx-md-6,
  .ml-md-6 {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 576px) {

  .m-sm-1,
  .my-sm-1,
  .mt-sm-1 {
    margin-top: .25rem;
  }

  .m-sm-1,
  .mx-sm-1,
  .mr-sm-1 {
    margin-right: .25rem;
  }

  .m-sm-1,
  .my-sm-1,
  .mb-sm-1 {
    margin-bottom: .25rem;
  }

  .m-sm-1,
  .mx-sm-1,
  .ml-sm-1 {
    margin-left: .25rem;
  }

  .m-sm-2,
  .my-sm-2,
  .mt-sm-2 {
    margin-top: .5rem;
  }

  .m-sm-2,
  .mx-sm-2,
  .mr-sm-2 {
    margin-right: .5rem;
  }

  .m-sm-2,
  .my-sm-2,
  .mb-sm-2 {
    margin-bottom: .5rem;
  }

  .m-sm-2,
  .mx-sm-2,
  .ml-sm-2 {
    margin-left: .5rem;
  }

  .m-sm-3,
  .my-sm-3,
  .mt-sm-3 {
    margin-top: 1rem;
  }

  .m-sm-3,
  .mx-sm-3,
  .mr-sm-3 {
    margin-right: 1rem;
  }

  .m-sm-3,
  .my-sm-3,
  .mb-sm-3 {
    margin-bottom: 1rem;
  }

  .m-sm-3,
  .mx-sm-3,
  .ml-sm-3 {
    margin-left: 1rem;
  }

  .m-sm-4,
  .my-sm-4,
  .mt-sm-4 {
    margin-top: 1.5rem;
  }

  .m-sm-4,
  .mx-sm-4,
  .mr-sm-4 {
    margin-right: 1.5rem;
  }

  .m-sm-4,
  .my-sm-4,
  .mb-sm-4 {
    margin-bottom: 1.5rem;
  }

  .m-sm-4,
  .mx-sm-4,
  .ml-sm-4 {
    margin-left: 1.5rem;
  }

  .m-sm-5,
  .my-sm-5,
  .mt-sm-5 {
    margin-top: 3rem;
  }

  .m-sm-5,
  .mx-sm-5,
  .mr-sm-5 {
    margin-right: 3rem;
  }

  .m-sm-5,
  .my-sm-5,
  .mb-sm-5 {
    margin-bottom: 3rem;
  }

  .m-sm-5,
  .mx-sm-5,
  .ml-sm-5 {
    margin-left: 3rem;
  }

  .m-sm-6,
  .my-sm-6,
  .mt-sm-6 {
    margin-top: 6rem;
  }

  .m-sm-6,
  .mx-sm-6,
  .mr-sm-6 {
    margin-right: 6rem;
  }

  .m-sm-6,
  .my-sm-6,
  .mb-sm-6 {
    margin-bottom: 6rem;
  }

  .m-sm-6,
  .mx-sm-6,
  .ml-sm-6 {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 360px) {

  .m-xs-1,
  .my-xs-1,
  .mt-xs-1 {
    margin-top: .25rem;
  }

  .m-xs-1,
  .mx-xs-1,
  .mr-xs-1 {
    margin-right: .25rem;
  }

  .m-xs-1,
  .my-xs-1,
  .mb-xs-1 {
    margin-bottom: .25rem;
  }

  .m-xs-1,
  .mx-xs-1,
  .ml-xs-1 {
    margin-left: .25rem;
  }

  .m-xs-2,
  .my-xs-2,
  .mt-xs-2 {
    margin-top: .5rem;
  }

  .m-xs-2,
  .mx-xs-2,
  .mr-xs-2 {
    margin-right: .5rem;
  }

  .m-xs-2,
  .my-xs-2,
  .mb-xs-2 {
    margin-bottom: .5rem;
  }

  .m-xs-2,
  .mx-xs-2,
  .ml-xs-2 {
    margin-left: .5rem;
  }

  .m-xs-3,
  .my-xs-3,
  .mt-xs-3 {
    margin-top: 1rem;
  }

  .m-xs-3,
  .mx-xs-3,
  .mr-xs-3 {
    margin-right: 1rem;
  }

  .m-xs-3,
  .my-xs-3,
  .mb-xs-3 {
    margin-bottom: 1rem;
  }

  .m-xs-3,
  .mx-xs-3,
  .ml-xs-3 {
    margin-left: 1rem;
  }

  .m-xs-4,
  .my-xs-4,
  .mt-xs-4 {
    margin-top: 1.5rem;
  }

  .m-xs-4,
  .mx-xs-4,
  .mr-xs-4 {
    margin-right: 1.5rem;
  }

  .m-xs-4,
  .my-xs-4,
  .mb-xs-4 {
    margin-bottom: 1.5rem;
  }

  .m-xs-4,
  .mx-xs-4,
  .ml-xs-4 {
    margin-left: 1.5rem;
  }

  .m-xs-5,
  .my-xs-5,
  .mt-xs-5 {
    margin-top: 3rem;
  }

  .m-xs-5,
  .mx-xs-5,
  .mr-xs-5 {
    margin-right: 3rem;
  }

  .m-xs-5,
  .my-xs-5,
  .mb-xs-5 {
    margin-bottom: 3rem;
  }

  .m-xs-5,
  .mx-xs-5,
  .ml-xs-5 {
    margin-left: 3rem;
  }

  .m-xs-6,
  .my-xs-6,
  .mt-xs-6 {
    margin-top: 6rem;
  }

  .m-xs-6,
  .mx-xs-6,
  .mr-xs-6 {
    margin-right: 6rem;
  }

  .m-xs-6,
  .my-xs-6,
  .mb-xs-6 {
    margin-bottom: 6rem;
  }

  .m-xs-6,
  .mx-xs-6,
  .ml-xs-6 {
    margin-left: 6rem;
  }
}