.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

/* Flex */

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

/* #Flex */

@media screen and (max-width: 1200px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline {
    display: inline;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  /* Flex */

  .d-xl-flex {
    display: flex;
  }

  .justify-content-xl-start {
    justify-content: flex-start;
  }

  .justify-content-xl-center {
    justify-content: center;
  }

  .justify-content-xl-end {
    justify-content: flex-end;
  }

  .justify-content-xl-between {
    justify-content: space-between;
  }

  .justify-content-xl-around {
    justify-content: space-around;
  }

  .justify-content-xl-evenly {
    justify-content: space-evenly;
  }

  .align-items-xl-start {
    align-items: flex-start;
  }

  .align-items-xl-center {
    align-items: center;
  }

  .align-items-xl-end {
    align-items: flex-end;
  }

  .flex-xl-nowrap {
    flex-wrap: nowrap;
  }

  .flex-xl-wrap {
    flex-wrap: wrap;
  }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-xl-direction-row {
    flex-direction: row;
  }

  .flex-xl-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-xl-direction-column {
    flex-direction: column;
  }

  .flex-xl-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  /* Flex */

  .d-lg-flex {
    display: flex;
  }

  .justify-content-lg-start {
    justify-content: flex-start;
  }

  .justify-content-lg-center {
    justify-content: center;
  }

  .justify-content-lg-end {
    justify-content: flex-end;
  }

  .justify-content-lg-between {
    justify-content: space-between;
  }

  .justify-content-lg-around {
    justify-content: space-around;
  }

  .justify-content-lg-evenly {
    justify-content: space-evenly;
  }

  .align-items-lg-start {
    align-items: flex-start;
  }

  .align-items-lg-center {
    align-items: center;
  }

  .align-items-lg-end {
    align-items: flex-end;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap;
  }

  .flex-lg-wrap {
    flex-wrap: wrap;
  }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-lg-direction-row {
    flex-direction: row;
  }

  .flex-lg-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-lg-direction-column {
    flex-direction: column;
  }

  .flex-lg-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  /* Flex */

  .d-md-flex {
    display: flex;
  }

  .justify-content-md-start {
    justify-content: flex-start;
  }

  .justify-content-md-center {
    justify-content: center;
  }

  .justify-content-md-end {
    justify-content: flex-end;
  }

  .justify-content-md-between {
    justify-content: space-between;
  }

  .justify-content-md-around {
    justify-content: space-around;
  }

  .justify-content-md-evenly {
    justify-content: space-evenly;
  }

  .align-items-md-start {
    align-items: flex-start;
  }

  .align-items-md-center {
    align-items: center;
  }

  .align-items-md-end {
    align-items: flex-end;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-md-direction-row {
    flex-direction: row;
  }

  .flex-md-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-md-direction-column {
    flex-direction: column;
  }

  .flex-md-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  /* Flex */

  .d-sm-flex {
    display: flex;
  }

  .justify-content-sm-start {
    justify-content: flex-start;
  }

  .justify-content-sm-center {
    justify-content: center;
  }

  .justify-content-sm-end {
    justify-content: flex-end;
  }

  .justify-content-sm-between {
    justify-content: space-between;
  }

  .justify-content-sm-around {
    justify-content: space-around;
  }

  .justify-content-sm-evenly {
    justify-content: space-evenly;
  }

  .align-items-sm-start {
    align-items: flex-start;
  }

  .align-items-sm-center {
    align-items: center;
  }

  .align-items-sm-end {
    align-items: flex-end;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap;
  }

  .flex-sm-wrap {
    flex-wrap: wrap;
  }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-sm-direction-row {
    flex-direction: row;
  }

  .flex-sm-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-sm-direction-column {
    flex-direction: column;
  }

  .flex-sm-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 360px) {
  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .d-xs-inline {
    display: inline;
  }

  .d-xs-inline-block {
    display: inline-block;
  }

  /* Flex */

  .d-xs-flex {
    display: flex;
  }

  .justify-content-xs-start {
    justify-content: flex-start;
  }

  .justify-content-xs-center {
    justify-content: center;
  }

  .justify-content-xs-end {
    justify-content: flex-end;
  }

  .justify-content-xs-between {
    justify-content: space-between;
  }

  .justify-content-xs-around {
    justify-content: space-around;
  }

  .justify-content-xs-evenly {
    justify-content: space-evenly;
  }

  .align-items-xs-start {
    align-items: flex-start;
  }

  .align-items-xs-center {
    align-items: center;
  }

  .align-items-xs-end {
    align-items: flex-end;
  }

  .flex-xs-nowrap {
    flex-wrap: nowrap;
  }

  .flex-xs-wrap {
    flex-wrap: wrap;
  }

  .flex-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-xs-direction-row {
    flex-direction: row;
  }

  .flex-xs-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-xs-direction-column {
    flex-direction: column;
  }

  .flex-xs-direction-column-reverse {
    flex-direction: column-reverse;
  }
}